@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
html {
    width: 100%;
}

button {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    position: relative;
    font-size: 2.5vh;
    margin: 0;
    top: 10vh;
    background-color: rgba(248, 248, 248, 1);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#main_nav {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(64, 185, 216, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5vh;
    font-weight: 300;
    z-index: 2;
}

#main_list_view {
    width: 100%;
    height: 90vh;
}

div#empty {
    width: 100%;
    text-align: center;
    position: fixed;
    top: calc(50% - 3vh);
    color: #888;
}

#main_list_view p#default {
    text-align: center;
    margin: 0 10vw 0 10vw;
}

#coupons_list {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#coupons_list li,
div#coupon_container {
    height: calc(100vh / 6);
    margin: 0;
    padding-right: 5px;
    padding-left: 5px;
}

div.coupon {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 10px);
    top: 5px;
    border-radius: 0.5vh;
    background-color: white;
    box-shadow: 1px 2px 1px 1px rgba(200, 200, 200, 0.3);
}

div.coupon[type='used'] {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.5;
}

img.pic {
    display: inline-block;
    position: relative;
    height: auto;
    width: auto;
    left: 5px;
    max-height: calc(100% - 10px);
    max-width: auto;
}

div.info {
    line-height: 3vh;
    position: relative;
    display: inline;
    min-height: calc(100% - 15px);
    min-width: 80%;
    left: calc(5px + 4vw);
}

div.info p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    text-align: left;
}

.feet {
    display: inline;
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 300;
    font-size: 1.5vh;
    line-height: 140%;
    color: rgba(189, 193, 201, 1);
}

div.info p.sponser,
p.availible_time {
    letter-spacing: 0px;
}

div.status {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% / 8.5);
    background-color: orange;
    color: white;
    font-weight: 300;
    font-size: 80%;
    white-space: pre-line;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
}

div[class='circle'] {
    position: absolute;
    display: block;
    left: -0.5vh;
    width: 1vh;
    height: 1vh;
    background-color: rgba(248, 248, 248, 1);
    border-radius: 0.5vh;
}

div[type='top'] {
    top: -0.5vh;
}

div[type='bottom'] {
    bottom: -0.5vh;
}

.submit_result {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
    position: fixed;
    width: auto;
    height: 50px;
    background-color: white;
    z-index: 100;
    padding-right: 10px;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 1px 1px rgba(200, 200, 200, 0.7);
}

.submit_result div.icon {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    left: 10px;
    top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

.submit_result div.icon p {
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 0;
}

div[type='success']>div {
    background-color: greenyellow;
}

#warning {
    width: 100%;
    height: 12vh;
    border-bottom: 1px solid #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 85%;
    font-weight: 700;
}

#warning img {
    position: absolute;
    width: auto;
    left: calc(12vh * 0.2);
    top: 2.4vh;
    height: calc(12vh * 0.6);
}

#redeem_page {
    width: 100%;
    height: 90%;
}

#input {
    background-color: rgb(249, 60, 58);
    position: relative;
    border-radius: 0.5vh;
    margin-top: -5px;
    left: 5px;
    height: 10vh;
    width: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 90%;
    font-weight: 200;
    color: white;
    border-style: none;
    -webkit-appearance: none;
}

#input span {
    width: 100%;
}

#input[type='used'] {
    background-color: rgb(218, 219, 221);
}

#back_button {
    cursor: pointer;
    background-image: url('/assets/icon/back_icon.png');
    background-size: 5vh 5vh;
    width: 5vh;
    height: 5vh;
    position: absolute;
    top: 2.5vh;
    left: 4vh;
    -moz-user-focus: none;
    border-style: none;
    background-color: transparent;
}

#back_button:hover {
    background-color: rgba(1, 1, 1, 0.1);
}

#full_screen {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(1, 1, 1, 0.3);
}

#check_box {
    position: relative;
    width: 75%;
    height: 30%;
    background-color: white;
    border-radius: 0.5vh;
    box-shadow: 2px 2px rgba(1, 1, 1, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#check_title {
    position: absolute;
    text-align: center;
    width: 80%;
    height: auto;
    font-weight: 700;
    top: 10%;
    left: 10%;
}

#check_content {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 85%;
    font-weight: 400;
    margin-top: 3vh;
}

.btn {
    cursor: pointer;
    width: 50%;
    padding: 0;
    margin: 0;
    height: 20%;
    border: 1px solid #DDD;
    position: absolute;
    bottom: 0;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirm_btn[class='btn'] {
    right: 0;
    color: rgba(64, 185, 216, 1);
}

#cancel_btn[class='btn'] {
    left: 0;
    color: #DDD;
}