/* html {
    width: 100vw;
    height: 100vh;
} */

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
    font-family: 'GenJyuuGothic';
    src: url('/assets/font/GenJyuuGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
input {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    /* width: 100%;
    height: 100%; */
    border-width: 0px;
    background-color: #1d1d1b;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.content {
    width: auto;
    height: auto;
    color: white;
    text-align: center;
    margin-top: 30%;
}

#first_part {
    margin-top: 0;
    text-align: center;
    font-size: 30pt;
}

#second_part {
    display: block;
    /* margin-left: 0%; */
    position: relative;
    text-align: center;
}

#container {
    position: relative;
    width: 100vw;
    height: 200pt;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time {
    font-family: 'GenJyuuGothic';
    font-size: 200pt;
    text-align: center;
    width: 100%;
}

#timeText {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    margin-top: calc(100pt + 10px);
    font-size: 30pt;
    text-align: center;
}

#start {
    width: 70vw;
    height: 7vh;
    margin: 15vw;
    border-width: 0px;
    font-size: 40px;
    -webkit-appearance: none;
    color: white;
    background-color: #FF9300;
    margin-top: 7vh;
}

div.top_icons {
    position: relative;
    height: auto;
    margin-top: 2vh;
    margin-bottom: calc(5vh);
    text-align: center;
}

div.bottom_icons {
    position: relative;
    text-align: center;
    margin-top: 10vh;
}

#icon_1 {
    width: 100px;
    height: 100px;
}

#icon_2 {
    width: 100px;
    height: 100px;
}

#icon_3 {
    width: 100px;
    height: 100px;
}

#icon_4 {
    width: 100px;
    height: 100px;
}

#icon_5 {
    width: 100px;
    height: 100px;
}

#icon_6 {
    width: 100px;
    height: 100px;
}

@keyframes spin {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}