@media only screen and (min-width: 0px) and (max-width: 980px) {
    html {
        width: 100vw;
        height: 100vh;
    }
    
    body {
        width: 100%;
        height: 100%;
        border-width: 0px;
        background-color: #1d1d1b;
        overflow: hidden;
    }
    
    div.content {
        width: 100%;
        height: 100%;
        color: white;
    }
    
    #first_part {
        margin-top: 13vh;
        text-align: center;
        font-size: 300%;
    }
    
    #second_part {
        margin-top: 10%;
        margin-left: 0%;
        position: relative;
        right: 3%;
        font-size: 50px;
        text-align: center;
    }
    
    #time {
        font-size: 350px;
    }
    
    #start {
        width: 70vw;
        height: 5%;
        margin-top: 30%;
        border-width: 0px;
        font-size: 30px;
        margin-left: 15vw;
        -webkit-appearance: none; 
        color: white;
        background-color: #FF9300;
    }
    
    div.top_icons {
        position: relative;
        height:0px;
        margin-top: 7%;
        text-align: center;
    }
    
    div.bottom_icons {
        position: relative;
        height: 0%;
        text-align: center;
    }
}

@media only screen and (min-width: 981px){
    html {
        width: 100vw;
        height: 100vh;
    }
    
    body {
        width: 100%;
        height: 100%;
        border-width: 0px;
        background-color: #1d1d1b;
        overflow: hidden;
    }
    
    div.content {
        width: 100%;
        height: 100%;
        color: white;
    }
    
    #first_part {
        margin-top: 13vh;
        text-align: center;
        font-size: 120%;
    }
    
    #second_part {
        /* margin-top: 10%; */
        margin-left: 0%;
        position: relative;
        font-size: 50px;
        text-align: center;
    }
    
    #time {
        font-size: 100px;
        text-align: center;
    }
    
    #start {
        width: 25vw;
        height: 5%;
        margin-top: 8%;
        margin-bottom: 15%;
        border-width: 0px;
        font-size: 20px;
        /* margin-left: 15vw; */
        margin-left: 38vw;
        -webkit-appearance: none; 
        color: white;
        background-color: #FF9300;
    }
    
    div.top_icons {
        position: relative;
        height:2vh;
        margin-top: 5vh; 
        text-align: center;
    }
    
    div.bottom_icons {
        position: relative;
        height: 0%;
        text-align: center;
    }

    #icon_1 {
        width: 50px;
        height: 50px;
    }
    #icon_2 {
        width: 50px;
        height: 50px;
    }
    #icon_3 {
        width: 50px;
        height: 50px;
    }
    #icon_4 {
        width: 50px;
        height: 50px;
    }
    #icon_5 {
        width: 50px;
        height: 50px;
    }
    #icon_6 {
        width: 50px;
        height: 50px;
    }
    
}
