body {
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    position: relative;
    font-size: 2.5vh;
    margin: 0;
    top: 10vh;
    background-color: rgba(248, 248, 248, 1);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav {
    background-color: rgba(64, 185, 216, 1);
    text-align: center;
    position: fixed;
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}


#change_page_container {
    position: absolute;
    left: 0;
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}