@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/* html {
    width: 100vw;
    height: 100vh;
} */

body {
    font-family: 'Noto Sans TC', sans-serif;
    width: auto;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-size: 3vh;
    font-weight: 400;
    overflow: hidden;
    color: #666;
}

div.top {
    height: 20%;
    width: 100%;
    border-width: 0px;
    background-color: #00B0D0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.middle {
    height: 57%;
    width: 100%;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.middle div {
    width: 80vw;
}

div.middle p#title_used {
    margin-top: 0px;
    font-size: 75%;
}

div.bottom {
    height: 16%;
    /* margin: 15px 15px 15px 15px; */
    /* width: calc(100% - 30px); */
    background-color: white;
    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#reuse_icon {
    top: -5px;
    display: inline;
    max-height: 5.8vh;
    position: relative;
    margin-left: 43px;
}

#unit {
    color: rgb(255, 233, 92);
    margin: 0;
    width: auto;
    font-size: 65%;
    font-weight: 200;
    display: inline-block;
    position: relative;
    margin-left: 7px;
    top: -1.25vh;
}

#g {
    color: #00b2d4;
}

#beforeAmount {
    color: white;
    margin: 0;
    width: auto;
    font-size: 65%;
    font-weight: 200;
    position: relative;
    margin-left: 43px;
    top: -1.25vh;
}

#amount {
    margin: 0;
    margin-left: 15px;
    position: relative;
    color: rgb(255, 233, 92);
    display: inline-block;
    font-size: 200%;
    top: -1.25vh;
}

#afterAmount {
    color: white;
    margin: 0;
    width: auto;
    font-size: 65%;
    font-weight: 200;
    display: inline-block;
    position: relative;
    margin-left: 8px;
    top: -1.25vh;
}

#top_text {
    height: 100%;
    width: auto;
    margin-top: 13vh;
    color: white;
}

#first_line {
    position: relative;
    left: 10vw;
    max-width: 50vw;
}

hr {
    margin: 0.8em 0 0.8em 0;
}

div img#cup_icon,
img#chopsticks_icon,
img#plasticbag_icon {
    position: absolute;
    max-width: 10vh;
    width: 10vh;
    height: auto;
}

#water_text,
#wood_text,
#carbon_text {
    height: 10vh;
    display: inline-block;
}

#water,
#carbon,
#wood {
    position: relative;
    display: block;
    text-align: right;
    font-size: 75%;
    margin: 0px;
}

#bottom_text {
    margin: 0;
    margin-left: 20%;
    font-size: 70%;
}

#bottom_secondline {
    position: relative;
    top: -2vh;
    left: -2vw;
}

#total_amount {
    color: #00B0D0;
    margin: 0 20px 0 20px;
    font-size: 400%;
}

#unit_bottom {
    position: relative;
    text-align: right;
    font-size: 130%;
    margin: 0px;
    bottom: 0;
}