html {
    position: absolute;
    width: 100vw;
    height: 100vh;
}


/*
* cwTeXHei (Chinese-traditional) http://www.google.com/fonts/earlyaccess
*/

@font-face {
    font-family: 'cwTeXHei';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
    overflow: hidden;
    display: inline-block;
    text-align: center;
    width: 100vw;
    height: 100vh;
    color: #444;
}

body,
input {
    font-family: 'cwTeXHei', sans-serif;
}

nav#main_nav {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    background-color: rgba(64, 185, 216, 1);
    height: 10vh;
    width: 100%;
    vertical-align: middle;
}

nav#main_nav b {
    color: white;
    position: absolute;
    right: 1vw;
    top: 3vh;
    text-align: right;
    font-size: 3vh;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 0;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu:after,
#cssmenu>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu {
    top: calc(10vh - 33px);
    width: auto;
    border-bottom: 3px solid rgba(255, 233, 92, 1);
    /* font-family: Raleway, sans-serif; */
    line-height: 1;
}

#cssmenu>ul>li {
    float: left;
}

#cssmenu.align-center>ul {
    font-size: 0;
    text-align: center;
}

#cssmenu.align-center>ul>li {
    display: inline-block;
    float: none;
}

#cssmenu.align-right>ul>li {
    float: right;
}

#cssmenu.align-right>ul>li>a {
    margin-right: 0;
    margin-left: -4px;
}

#cssmenu>ul>li>a {
    z-index: 2;
    padding: 18px 25px 12px 25px;
    font-size: 2.5vh;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-right: -4px;
}

#cssmenu>ul>li.active>a,
#cssmenu>ul>li:hover>a,
#cssmenu>ul>li>a:hover {
    color: #444;
}

#cssmenu>ul>li>a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 120%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    content: "";
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: perspective(5px) rotateX(2deg);
    -webkit-transform-origin: bottom;
    -moz-transform: perspective(5px) rotateX(2deg);
    -moz-transform-origin: bottom;
    transform: perspective(5px) rotateX(2deg);
    transform-origin: bottom;
}

#cssmenu>ul>li.active>a:after,
#cssmenu>ul>li:hover>a:after,
#cssmenu>ul>li>a:hover:after {
    background: rgba(255, 233, 92, 1);
}

div#picture_view {
    transition: left 0.5s;
    position: absolute;
    left: 0px;
    top: 10vh;
    width: 100%;
    height: 12vh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: black;
    z-index: 3;
}

div.container {
    max-height: 10vh;
    min-width: 15vh;
    display: inline-block;
    object-fit: contain;
    position: relative;
    text-align: center;
}

a.pic {
    transition: opacity .5s;
    text-align: center;
    position: relative;
}

a.pic p {
    color: white;
    position: relative;
    line-height: 0px;
    height: 20px;
    font-size: 10pt;
    top: calc(-5px + 2vh);
}

img.button {
    max-height: calc(10vh - 20px);
    top: 2vh;
    position: relative;
    text-align: center;
    cursor: pointer;
}

img.icon {
    border: 0px;
    position: absolute;
    width: 2vh;
    height: 2vh;
    top: 10px;
    right: 1%;
}

#detail {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 80%;
    transition: left 0.5s;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 20vh;
    margin-bottom: 10vh;
    width: 100vw;
    display: none;
    background-color: rgb(240, 240, 240);
}

#detail>div#detail_pic {
    min-width: 300px;
    display: inline;
}

#detail>div#detail_data {
    min-width: 300px;
    display: inline;
}

@media screen and (max-width: 460pt) {
    #detail>div#detail_data {
        width: 80vw;
        margin-right: 10vw;
        margin-left: 10vw;
        display: block;
    }
    #detail>div#detail_pic {
        margin-top: 30px;
        width: 80vw;
        margin-right: 10vw;
        margin-left: 10vw;
        display: block;
    }
    nav#main_nav b {
        top: 0.5em;
    }
}

div#main_pic_section {
    min-width: 300px;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    margin: 10px auto;
    display: inline;
}

.helper {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    position: relative;
}

img#main_pic {
    height: auto;
    width: auto;
    max-width: 60vw;
    max-height: 70vh;
    position: relative;
    left: -5px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 5px;
}

div.data_container {
    width: inherit;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    color: rgb(50, 50, 50);
}

@media screen and (max-width: 460pt) {
    div#main_pic_section {
        width: 80vw;
        height: auto;
    }
    img#main_pic {
        height: auto;
        max-height: initial;
        max-width: 80vw;
    }
    div.data_container {
        text-align: center;
    }
}

div#detail_data {
    margin-left: 10px;
    margin-right: 10px;
    display: none;
}

div.data {
    width: 100%;
    border-bottom: 1px solid black;
}

#user_id_title {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

#user_id {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
}

#upload_time_title {
    display: block;
}

#upload_time {
    display: inline-block;
}

p#status button {
    display: inline-block;
    color: black;
    width: 50px;
    position: relative;
    height: 20px;
}

input {
    width: 100px;
}

#messenger_view {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 10vh;
}


/* 

Start of chatroom page 

*/

.manager {
    min-width: 275px;
    width: 25vw;
    height: 90vh;
    float: left;
    background-color: white;
    border-right-style: solid;
    border-right-color: rgba(220, 220, 220, 1);
    border-right-width: 1px;
}

@media screen and (max-width: 460pt) {
    .manager {
        width: 100vw;
        z-index: 4;
    }
    .manager[status='collapse'] {
        display: none;
    }
}

.manager div#form {
    position: relative;
    z-index: 1;
    background-color: lightblue;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manager input#search_bar {
    display: inline-block;
    width: 85%;
    height: 50%;
    border-style: none;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    font-size: 14px;
}

.manager input#clear {
    margin-left: -30px;
    border-style: none;
    background-color: transparent;
    border-radius: 10px;
    background-image: url('/assets/icon/clear.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

ul#customers_list {
    position: relative;
    overflow-y: auto;
    list-style: none;
    margin-top: 0px;
    width: 100%;
    display: block;
    max-height: calc(90vh - 60px);
    height: calc(90vh - 60px);
    left: -40px;
}

ul#customers_list li {
    position: relative;
    height: 75px;
    width: 100%;
    vertical-align: middle;
    border-bottom-color: rgba(220, 220, 220, 1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

ul#customers_list li a {
    position: relative;
    width: 100%;
    height: 75px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

ul#customers_list li a:hover {
    background-color: rgb(240, 240, 240);
}

ul#customers_list li a img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    margin-top: 12.5px;
    margin-left: 12.5px;
}

ul#customers_list li a p#time {
    position: absolute;
    right: 0;
    display: inline-block;
    color: rgb(50, 50, 50);
    text-align: right;
    margin-top: calc(32px / 2);
    line-height: 23px;
    right: 10px;
    font-size: 14px;
    white-space: pre-wrap;
    color: #AAA;
}

ul#customers_list li #name {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: 75px;
    top: 7px;
    font-size: 17px;
    color: rgb(50, 50, 50);
    font-weight: normal;
    overflow: hidden;
    max-width: 40%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul#customers_list li a p#text {
    margin-top: 5px;
    position: relative;
    display: block;
    font-size: 13px;
    text-align: left;
    font-weight: normal;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #AAA;
}

ul#customers_list li a #name[status='unread'],
#time[status='unread'],
#name[status='unread'] p#text {
    color: black;
    font-weight: 900;
}

.message {
    width: auto;
    height: 90vh;
    bottom: 0;
    overflow-y: auto;
    display: block;
}

#default_words {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #888;
    font-size: 20px;
}

#message_field {
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-bottom: 0px;
    display: none;
}

#message_ul_container {
    position: relative;
    width: 100%;
    height: calc(90vh - 120px);
    background-color: white;
}

#message_field ul {
    width: inherit;
    list-style-type: none;
    padding: 0 0px 0 0px;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: calc(90vh - 120px);
}

#message_ul li {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

#message_ul li span.customer {
    margin-left: 18px;
    width: 40px;
    height: 40px;
    display: inline-block;
}

#message_ul li span.customer img {
    max-width: 40px;
    max-height: 40px;
    position: relative;
    border-radius: 20px;
}

li.me {
    text-align: right;
}

li.customer {
    text-align: left;
}

li.system {
    text-align: center;
}

li.system div {
    width: 100%;
    display: block;
    text-align: center;
}

li.system div img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 40vh;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

li p a.box {
    display: inline-block;
    height: auto;
    padding: 10px 15px 10px 15px;
    vertical-align: middle;
    max-width: 40vw;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    margin-left: 15px;
}

li.system p a.box {
    background-color: transparent;
}

#message_ul li p {
    display: inline-block;
    max-width: 35vw;
    white-space: pre-wrap;
    word-break: break-all;
    text-align: left;
    vertical-align: middle;
    color: #444;
    margin-right: 18px;
}

#message_ul li.system p {
    max-width: 70vw;
    text-align: center;
    color: #CCC;
}

#message_field nav {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #444;
}

#message_field nav a.back_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    left: 0;
    top: 0;
    position: absolute;
    font-family: 'Arial';
}

#message_field nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#message_field nav a.end_session {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    right: 15px;
    top: 10px;
    position: absolute;
    font-family: 'Arial';

    background-color: transparent;

    background-image: url('/assets/icon/end_session.png');
    background-repeat: no-repeat;
}

@media screen and (max-width: 460pt) {
    .message {
        width: 100vw;
        left: 0px;
    }
}

div#text_field {
    display: none;
    position: relative;
    width: 100%;
    height: 60px;
    bottom: 0px;
    vertical-align: middle;
    white-space: nowrap;
    background-color: lightblue;
}

div#text_field input#search_img_btn,
input#search_img_send {
    vertical-align: middle;
    border-style: none;
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url('/assets/icon/search.png');
}

div#text_field input#search_img_btn:hover {
    background-image: url('/assets/icon/search_selected.png');
}

div#text_field input[type="text"] {
    position: relative;
    display: inline-block;
    width: calc(90% - 40px);
    height: 40px;
    padding-right: 50px;
    border-radius: 5px;
    border-style: none;
    padding: 0 10px 0 10px;
    font-size: 14px;
}

div#text_field input#sendMsg {
    position: relative;
    display: inline-block;
    height: 42px;
    width: 50px;
    max-width: 10vw;
    margin-left: -50px;
    border-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #AAA;
    color: #FFF;
}

div#text_field input#search_img_text {
    width: 100px;
    display: none;
}

div#text_field input#search_img_send {
    background-image: url('/assets/icon/go.png');
    background-color: white;
    margin-left: -40px;
    margin-right: 10px;
    display: none;
}

input:focus {
    outline: none;
}

ul {
    -webkit-overflow-scrolling: touch;
}


/* 

End of chatroom page 

*/


/*

Start of checked history tab

*/

div.page {
    display: block;
    position: absolute;
    left: 0;
    top: 10vh;
    width: 100vw;
    height: 90vh;
    overflow: auto;
}

table#checked_list {
    position: relative;
    width: 100%;
    padding: 10px 10px 10px 10px;
}

table#checked_list thead tr {
    background-color: #FFF;
    height: 40px;
}

table#checked_list tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

table#checked_list th.img {
    height: 100px;
}

table#checked_list thead tr th {
    font-weight: 400;
    letter-spacing: 2px;
    color: #444;
    height: initial;
}

table#checked_list th img {
    height: auto;
    width: auto;
    cursor: pointer;
    max-height: 100px;
    max-width: 100%;
    margin-top: 5px;
}

#zoom_in {
    z-index: 100;
    position: fixed;
    display: flex;
    left: 0;
    top: 10vh;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#zoom_in input {
    background-image: url('/assets/icon/close.png');
    width: 30px;
    height: 30px;
    border-style: none;
    background-color: transparent;
    position: absolute;
    left: calc(100vw - 50px);
    top: 20px;
    cursor: pointer;
}

#zoom_in img {
    height: auto;
    width: auto;
    max-height: 90%;
    max-width: 90%;
}

@media screen and (max-width: 460pt) {
    #zoom_in {
        top: 0;
        height: 100vh;
    }
}


/*

End of checked history tab
*/

.loader {
    border: 8px solid #DDD;
    border-top: 8px solid rgba(64, 185, 216, 1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: inline-block;
    position: relative;
    top: calc(50% - 25px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.default_text {
    width: 100vw;
    display: inline-block;
    position: absolute;
    top: calc(50vh - 25px);
    margin-left: -50vw;
    color: #888;
    text-align: center;
    font-size: 22px;
}