<%- include ./header.ejs %>
    <header>
        <nav id="main_nav">
                <div id='cssmenu'>
                        <ul>
                            <li><a href='/img'>照片審核</a>
                            </li>
                            <li><a href='/checkedList'>審核紀錄</a>
                            </li>
                            <li class='active'><a>對話管理</a>
                            </li>
                        </ul>
                </div>
                <b id="goodtogo">LINE BOT 後台</b>
        </nav>
    </header>
    <div id='zoom_in' style='display: none'><input type='button' id='close_btn' onclick='close_zoom_in()'/></div>
    <div id="messenger_view">
        <div class="manager">
            <div id='form'>
                <input id='search_bar' type="text" placeholder=" 輸入id搜尋..." /><input id='clear' type='button'/>
            </div>
            <ul id="customers_list">
            </ul>
        </div>
        <div class="message" id='message'>
            <p id='default_words'>請點選使用者以回覆</p>
            <div id="message_field">
                <nav id="customer_id"><a class="back_button" onclick="closeDialog()" style='cursor: pointer;'>ㄑ</a><p></p><a class="end_session" id="end_session" style='cursor: pointer;'></a></nav>
                <div id="message_ul_container">
                <ul id="message_ul">
                    <li class='me'><span class="helper"></span><p><a class='box'>asdsasa</a></p></li>
                    <li class='customer'><span class="helper customer"><img /></span><p><a class='box'>asdsds33333333333</a></p></li>
                </ul>
                </div>
            </div>
            <div id="text_field">
                <span class="helper"></span>
                <input id='search_img_btn' type='button'/>
                <input id='search_img_text' placeholder='照片編號...' type='text'/>
                <input id='search_img_send' type='button' />
                <input id="message_text" type='text' placeholder=" 輸入訊息..." autocomplete="off"/>
                <input id='sendMsg' type='button' value='傳送' />
            </div>
        </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
    <% var tmpArr = roomList %>
    <% var arrStr = ''; %>
    <% for(var i = 0; i < tmpArr.length; i++) arrStr += JSON.stringify(tmpArr[i]) + (((i+1) === tmpArr.length)? '':', '); %>
    <% var tmpStr = '[' + arrStr + ']'; %>
    var extraRoomList = <%- tmpStr %>;
    
    document.title += " - 對話管理";
    
    var socket = io.connect(window.location.origin + '/chatroom');

    var isSearchImgButtonSelected = false;

    var current_last_index = 0;

    socket.on('server', function(obj){
        if (typeof obj.statusCode !== 'undefined') {
            switch (obj.statusCode) {
                case 0 :
                    console.log('IN0: ' + obj.statusCode);
                    break;
                case 1 :
                    console.log('IN1: ' + obj.statusCode);
                    create_message('system', '參數錯誤: '+obj.msg);
                    break;
                case 2 :
                    console.log('IN2: ' + obj.statusCode);
                    create_message('system', '資料庫錯誤: '+obj.msg);
                    break;
                case 3 :
                    console.log('IN3: ' + obj.statusCode);
                    create_message('system', obj.msg);
                    break;
                default: 
                    console.log('Default: ' + obj.statusCode);
                    break;
            }
        }
        console.log('msg: ' + obj.msg);
    });
    socket.on('user', function(obj){
        let time = custom_date(new Date(), true);

        var img = document.createElement('img');
        img.src = obj.imgUrl;

        var type = obj.type;
        var msg = obj.msg;

        var isUpdated = false;

        if (selected_customer) {
            if (selected_customer.getAttribute('customerId') == obj.user) {
                isUpdated = true;
                create_message(type, msg, img);
            }
        }
        
        for (var i = 0 ; i < document.getElementById('customers_list').childNodes.length ; i++) {
            if (document.getElementById('customers_list').childNodes[i].nodeType === 3) {
                continue;
            }
            if (document.getElementById('customers_list').childNodes[i].getAttribute('customerId') == obj.user) {
                isUpdated = true;

                document.getElementById('customers_list').childNodes[i].firstChild.childNodes[2].childNodes[1].textContent = obj.msg;
                document.getElementById('customers_list').childNodes[i].firstChild.childNodes[3].textContent = time;

                if (type == 'customer') {
                    document.getElementById('customers_list').childNodes[i].firstChild.childNodes[2].setAttribute('status', 'unread');
                    document.getElementById('customers_list').childNodes[i].firstChild.childNodes[2].childNodes[1].setAttribute('status', 'unread');
                    document.getElementById('customers_list').childNodes[i].firstChild.childNodes[3].setAttribute('status', 'unread');
                }

                document.getElementById('customers_list').insertBefore(document.getElementById('customers_list').childNodes[i], document.getElementById('customers_list').firstChild);

                break;
            }
        }

        for (var i = 0 ; i < extraRoomList.length ; i++) {
            if (extraRoomList[i].userId == obj.user) {
                isUpdated = true;
                extraRoomList[i].text = msg;
                extraRoomList[i].hasRead = false;
                extraRoomList[i].time = (new Date()).getTime();

                var node = extraRoomList[i];
                extraRoomList.splice(i,1);
                extraRoomList.splice(0, 0, node);

                break;
            }
        }

        if (!isUpdated) {
            create_customer_list(obj.name, obj.imgUrl, obj.user, obj.msg, custom_date(new Date(), true), 'unread');
        }

        console.log('user: ' + obj.user)
        console.log('name: ' + obj.name)
        console.log('imgUrl: ' + obj.imgUrl)
        console.log('type: ' + obj.type)
        console.log('msg: ' + obj.msg)
    });

    $('#sendMsg').on('click', function(){
         var msg = document.getElementById('message_text').value;
        if (msg === '') {
            return;
        }

        let time = custom_date(new Date(), true);

        create_message('me', msg);

        socket.emit('sendMsg', {userId:selected_customer.getAttribute('customerId'), msg:msg});
        document.getElementById('message_text').value = '';
        
        for (var i = 0 ; i < document.getElementById('customers_list').childNodes.length ; i++) {
            if (document.getElementById('customers_list').childNodes[i].nodeType === 3) {
                continue;
            }
            if (document.getElementById('customers_list').childNodes[i].getAttribute('customerId') == selected_customer.getAttribute('customerId')) {
                document.getElementById('customers_list').childNodes[i].firstChild.childNodes[2].childNodes[1].textContent = msg;
                document.getElementById('customers_list').childNodes[i].firstChild.childNodes[3].textContent = time;
                
                document.getElementById('customers_list').childNodes[i].firstChild.childNodes[2].removeAttribute('status');
                document.getElementById('customers_list').childNodes[i].firstChild.childNodes[2].childNodes[1].removeAttribute('status');
                document.getElementById('customers_list').childNodes[i].firstChild.childNodes[3].removeAttribute('status');

                document.getElementById('customers_list').insertBefore(document.getElementById('customers_list').childNodes[i], document.getElementById('customers_list').firstChild);
                break;
            }
        }

        for (var i = 0 ; i < extraRoomList.length ; i++) {
            if (extraRoomList[i].userId == selected_customer.getAttribute('customerId')) {
                extraRoomList[i].text = msg;
                extraRoomList[i].hasRead = true;
                extraRoomList[i].time = (new Date()).getTime();

                var node = extraRoomList[i];
                extraRoomList.splice(i,1);
                extraRoomList.splice(0, 0, node);

                break;
            }
        }
    })

    $('#message_text').keydown(function(event){
        if ( event.which == 13 ){
            $('#sendMsg').click();
        }
    });

    $('#search_img_btn').on('click', function(){
        if (!isSearchImgButtonSelected) {
            this.style.marginRight = '0px';
            document.getElementById('message_text').style.width = ('calc(90% - 40px - 120px)');
            document.getElementById('search_img_text').style.display = 'inline-block';
            document.getElementById('search_img_send').style.display = 'inline-block';
        } else {
            this.style.marginRight = '10px';
            document.getElementById('message_text').style.width = ('calc(90% - 40px)');
            document.getElementById('search_img_text').style.display = 'none';
            document.getElementById('search_img_send').style.display = 'none';
        }

        isSearchImgButtonSelected = !isSearchImgButtonSelected;
    });

    $('#search_img_text').keydown(function(event){
        if ( event.which == 13 ){
            $('#search_img_send').click();
        }
    });

    function create_customer_list(name, src, userId, text, time, status, pos) {
        var new_li = document.createElement('li');
        var new_a = document.createElement('a');
        var new_span = document.createElement('span');
        var new_img = document.createElement('img');
        var new_div = document.createElement('div');
        var new_p_time = document.createElement('p');
        var new_p_text = document.createElement('p');

        new_a.setAttribute('class', 'list_button');
        new_a.setAttribute('onclick', 'showDialog(this,"'+userId+'",'+'"'+name+'")');
        new_li.setAttribute('customerId', userId);
        new_img.setAttribute('src', src);
        new_span.setAttribute('class', 'helper');
        new_div.setAttribute('id', 'name');
        new_div.setAttribute('status', status);
        new_div.innerHTML = name;    
        new_p_text.setAttribute('id', 'text');
        new_p_text.innerHTML = text;
        new_p_time.setAttribute('id', 'time');
        new_p_time.setAttribute('status', status);
        new_p_time.innerHTML = time;

        new_div.appendChild(new_p_text);
        new_a.appendChild(new_img);
        new_a.appendChild(new_span);
        new_a.appendChild(new_div);
        new_a.appendChild(new_p_time);
        new_li.appendChild(new_a);

        if (pos == 'front'){
            document.getElementById('customers_list').insertBefore(new_li,0);
        }else{
            document.getElementById('customers_list').appendChild(new_li);
        }

        if (selected_customer != undefined) {
            if (selected_customer.getAttribute('customerId') == userId) {
                selected_customer = new_a;
                new_a.style.backgroundColor = 'rgb(240,240,240)';
            }
        }
    }

    $('#customers_list').on('scroll', function(){
        if (this.scrollHeight - this.scrollTop !== this.clientHeight) {
            return;
        }

        load_customers();

    })

    function load_customers() {
        var index = current_last_index;

        for (var i = index ; i < index+20 ; i++) {
            if (!extraRoomList[i]) {
                break;
            }

            current_last_index += 1;

            var name = extraRoomList[i].userName;
            var src = extraRoomList[i].userImg;
            var userId = extraRoomList[i].userId;
            var text = extraRoomList[i].text;
            var time = custom_date(new Date(Number(extraRoomList[i].time)),true);
            var status = extraRoomList[i].hasRead ? 'read' : 'unread';
    
            create_customer_list(name,src,userId,text,time,status);

            continue;
        }
    }

    $('#search_img_send').on('click', function(){
        let search_id = document.getElementById('search_img_text').value;

        document.getElementById('search_img_btn').click();
        document.getElementById('search_img_text').value = '';

        $.ajax({
            url: 'chatroom/img/' + search_id,
            dataType: 'JSON',
            success: function(data){
                if (data.src === undefined) {
                    create_message('system','查無此照片(編號: '+ search_id + ')');
                    return;
                } else if (!data.checked) {
                    create_message('system','此照片尚未審核(編號: '+ search_id + ')');
                    return;
                }
                var new_img = document.createElement('img');
                new_img.setAttribute('onclick', 'zoomIn(this)');
                new_img.setAttribute('src', data.src);
                var upload_time = custom_date(new Date(data.uploadTime));
                var checked_time = custom_date(new Date(Number(data.checkStatus.checkTime)));
                var total = parseInt(data.checkStatus.amount.bag) + parseInt(data.checkStatus.amount.container) + parseInt(data.checkStatus.amount.tableware);
                var amount = '提袋(' + data.checkStatus.amount.bag + ') 容器(' + data.checkStatus.amount.container + ') 餐具(' + data.checkStatus.amount.tableware + ') 共 ' + total + ' 次抽獎機會';
                if (data.checkStatus.typeCode !== undefined) {
                    amount = '0 (' + reasons[data.checkStatus.typeCode] + ')';
                }
                var img_index = data.imgIndex;

                var msg = '照片編號: ' + img_index + '\n上傳時間: ' + upload_time + '\n審核時間: ' + checked_time + '\n審核結果: ' + amount; 
                create_message('system', msg, new_img);
            }
        });
    });

    $("#search_bar").on("change input paste", function(){
        var keyword = this.value;

        while(document.getElementById('customers_list').firstChild){
            document.getElementById('customers_list').removeChild(document.getElementById('customers_list').firstChild);
        }

        for (var i = 0 ; i < extraRoomList.length ; i++) {
            if (extraRoomList[i].userName.toLowerCase().indexOf(keyword.toLowerCase()) !== -1) {
                var name = extraRoomList[i].userName;
                var src = extraRoomList[i].userImg;
                var userId = extraRoomList[i].userId;
                var text = extraRoomList[i].text;
                var time = custom_date(new Date(Number(extraRoomList[i].time)),true);
                var status = extraRoomList[i].hasRead ? 'read' : 'unread';

                create_customer_list(name,src,userId,text,time,status);
    
                continue;
            }
        }
    });

    $('#clear').on('click', function(){
        while(document.getElementById('customers_list').firstChild){
            document.getElementById('customers_list').removeChild(document.getElementById('customers_list').firstChild);
        }

        document.getElementById('search_bar').value = '';

        load_customers();
    });

    $('#end_session').on('click', function(){
        $.ajax({
            url: '/chatroom/terminateSession/' + selected_customer.getAttribute('customerId'),
            type: 'POST',
            dataType: 'JSON',
            success: function(data){
                var type = data.type;
                var text = data.text;

                create_message(type, text);
            }
        })
    })

    load_customers();
    
    var lastRoomID = <%-'"' + lastRoom + '"' %>;
    if (lastRoomID !== 'none')
        $('li[customerid=' + lastRoomID + ']').find('a').click();
        
    </script>
<%- include ./footer.ejs %>