<%- include ./header.ejs %>
    <header>
        <nav id="main_nav">
            <div id='cssmenu'>
                <ul>
                    <li class='active'><a>照片審核</a>
                    </li>
                    <li><a href='/chatroom'>對話管理</a>
                    </li>
                </ul>
            </div>
            <b id="goodtogo">LINE BOT 後台</b>
        </nav>
    </header>
    <div id="blocker">
        <div id="picture_view">
        </div>
    </div>
    <div id="detail">
        <div id="detail_pic">
            <span class="helper"></span>
            <div id="main_pic_section">
                <span class="helper"></span>
                <img id="main_pic" alt="main_pic" />
            </div>
        </div>

        <div id="detail_data">
            <span class="helper"></span>
            <div class="data_container">
                <div class="data">
                    <a id="user_id_title">使用者 id: </a>
                    <p id="user_id">e.zou.shen59</p>
                    <a id="upload_time_title">上傳時間: </a>
                    <p id="upload_time"></p>
                </div>
                <div class="detail">
                    <p>可兌換抽獎次數: <input type="number" /></p>
                    <p>資格不承認原因:
                        <select name="reasons">
                                    <option value="not_at_the_site">不在現場</option>
                                    <option value="not_our_container">容器非好盒器</option>
                                </select>
                    </p>
                    <p id="status">＊此照片尚未經過首次審核</p>
                    <button onclick="submit">保存</button>
                </div>
            </div>
        </div>
    <script>
        var lastIndex = <%- lastIndex %>
        load_pic_data(lastIndex);

        var should_update = true;

        $( "#picture_view" ).on( "scroll", function() {
            if ((this.scrollLeft+this.clientWidth) >= this.scrollWidth) {
                if (should_update === true) {
                    
                    should_update = false;

                    this.scrollLeft = this.scrollWidth;
                    $.ajax({
                        url: "/img/old/" + last_index,
                        type: "GET",
                        dataType: "JSON",
                        success: function(data){
                            pic_data=data.list;
                        },
                        error: function(){

                        },
                        complete: function(){
                            should_update = true;
                        }    
                    });
                }
            }
        });

    </script>
<%- include ./footer.ejs %>