<%- include ./header.ejs %>
    <header>
        <nav id="main_nav">
            <div id='cssmenu'>
                <ul>
                    <li><a href='/img'>照片審核</a>
                    </li>
                    <li class='active'><a>審核紀錄</a>
                    </li>
                    <li><a href='/chatroom'>對話管理</a>
                    </li>
                </ul>
            </div>
            <b id="goodtogo">LINE BOT 後台</b>
        </nav>
    </header>
    
    <table id='checked_list'>
        <thead>
            <tr>
                <th>審核照片</th>
                <th>照片編號</th>
                <th>上傳時間</th>
                <th>審核時間</th>
                <th>抽獎券發放數量</th>
                <th>拒絕原因</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><img src='/assets/icon/pic4.png'/></th>
                <td>#123</td>
                <td>123</td>
                <td>123</td>
                <td>123</td>
                <td>123</td>
            </tr>
        </tbody>
        
    </table>
    
<%- include ./footer.ejs %>