<%- include ./header.ejs %>
    <header>
        <nav id="main_nav">
            <div id='cssmenu'>
                <ul>
                    <li><a href='/img'>照片審核</a>
                    </li>
                    <li class='active'><a>審核紀錄</a>
                    </li>
                    <li><a href='/chatroom'>對話管理</a>
                    </li>
                </ul>
            </div>
            <b id="goodtogo">LINE BOT 後台</b>
        </nav>
    </header>
    
    <ul id='checked_list'>
        <li><a>asd</a></li>
    </ul>
    
<%- include ./footer.ejs %>