<%- include ./header.ejs %>
    <header>
        <nav id="main_nav">
            <div id='cssmenu'>
                <ul>
                    <li class='active'><a>照片審核</a>
                    </li>
                    <li><a href='/checkedList'>審核紀錄</a>
                    </li>
                    <li><a href='/chatroom'>對話管理</a>
                    </li>
                </ul>
            </div>
            <b id="goodtogo">LINE BOT 後台</b>
        </nav>
    </header>
    <div id="blocker">
        <div id="picture_view">
        </div>
    </div>
    <div class="loader"></div>
    <div class="default_text"></div>

    <div id="detail">
        <div id="detail_pic">
            <span class="helper"></span>
            <div id="main_pic_section">
                <span class="helper"></span>
                <img id="main_pic" alt="main_pic" />
            </div>
        </div>

        <div id="detail_data">
            <span class="helper"></span>
            <div class="data_container">
                <div class="data">
                    <a id="user_id_title">用戶名稱: 
                    <p id="user_id">e.zou.shen59</p>
                    </a>
                    <a id="upload_time_title">上傳時間: 
                    <p id="upload_time"></p>
                    </a>
                </div>
                <div class="detail">
                    <p>抽獎次數(提袋): <input id='check_availible_num_bag' type="number" min='0' value='0'/></p>
                    <p>抽獎次數(容器): <input id='check_availible_num_container' type="number" min='0' value='0'/></p>
                    <p>抽獎次數(餐具): <input id='check_availible_num_tableware' type="number" min='0' value='0'/></p>
                    <p id='reasons_tag'>資格不承認原因:
                        <select name="reasons" id='reasons'>
                            <option value="0">不在現場</option>
                            <option value="1">容器非好盒器</option>
                            <option value="2">其他</option>
                        </select>
                        <textarea id='other_reasons' style='display:none ;width: 70%;'></textarea>
                    </p>
                    <p id="status" type='unchecked'>＊此照片尚未經過首次審核</p>
                    <button onclick="submit()">保存</button>
                </div>
            </div>
        </div>
    <script>
        var last_index = <%- JSON.stringify(lastIndex) %>;
        load_pic_data(last_index);

        var should_update = true;

        $( "#picture_view" ).on( "scroll", function() {
            if ((this.scrollLeft+this.clientWidth) > this.scrollWidth) {
                if (should_update === true) {
                    
                    should_update = false;

                    this.scrollLeft = this.scrollWidth;

                    var new_pic = [];
                    
                    $.ajax({
                        url: "/img/" + (end_index+1),
                        type: "GET",
                        dataType: "JSON",
                        success: function(data){
                            new_pic = data.list;
                            pic_data = pic_data.concat(new_pic);
                        },
                        error: function(){
                            console.log('error');                            
                        },
                        complete: function(){
                            setTimeout(function(){should_update = true;}, 3);

                            if (new_pic.length === 0) {
                                return;
                            }
            
                            end_index = new_pic[new_pic.length-1].indexId;

                            for( var i=0; i<new_pic.length; i++){  
                                var imgstr = "/getImg/" + new_pic[i].indexId;
                                create_pic('back', new_pic[i].indexId, imgstr, new_pic[i].userName, new_pic[i].uploadTime, new_pic[i].checked);
                            }
                            let gallery = document.getElementById('picture_view');

                            gallery.scrollLeft = gallery.scrollWidth;
                        }    
                    });
                }
            }
        });

        $('#check_availible_num_bag').on('change', function(){
            if (this.value === '0' && document.getElementById('check_availible_num_container').value === '0' && document.getElementById('check_availible_num_tableware').value === '0') {
                document.getElementById('reasons_tag').style.display = 'block';
            } else {
                document.getElementById('reasons_tag').style.display = 'none';
            }
        })

        $('#check_availible_num_container').on('change', function(){
            if (this.value === '0' && document.getElementById('check_availible_num_bag').value === '0' && document.getElementById('check_availible_num_tableware').value === '0') {
                document.getElementById('reasons_tag').style.display = 'block';
            } else {
                document.getElementById('reasons_tag').style.display = 'none';
            }
        })

        $('#check_availible_num_tableware').on('change', function(){
            if (this.value === '0' && document.getElementById('check_availible_num_container').value === '0' && document.getElementById('check_availible_num_bag').value === '0') {
                document.getElementById('reasons_tag').style.display = 'block';
            } else {
                document.getElementById('reasons_tag').style.display = 'none';
            }
        })



        $('#reasons').on('change', function() {
            if (this.value === '2'){
                document.getElementById('other_reasons').style.display = 'inline-block';
            } else {
                document.getElementById('other_reasons').style.display = 'none';
            }
        });

        
    </script>
<%- include ./footer.ejs %>