<!DOCTYPE html>
<html lang="en" style="width:100vw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css" />
    <script type="text/Javascript" src="assets/script/script.js"></script>
</head>

<body>
    <header>
         <nav>
            <h1 id="goodtogo">好盒器</h1>         
        </nav>
        
        <div id="picture_view">           
            <div class="container"><a class="pic"><img class="button" type="button" src="src/pic1.jpg" onclick="select_picture(this)"/><p>asd</p></a></div>
            <div class="container"><a class="pic"><img class="button" type="button" src="src/pic2.jpg" onclick="select_picture(this)"/><p>asd</p></a></div>
            <div class="container"><a class="pic"><img class="button" type="button" src="src/pic3.jpg" onclick="select_picture(this)"/><p>asd</p></a></div>
            <div class="container"><a class="pic"><img class="button" type="button" src="src/pic3.jpg" onclick="select_picture(this)"/><p>asd</p></a></div>
            <div class="container"><a class="pic"><img class="button" type="button" src="src/pic2.jpg" onclick="select_picture(this)"/><p>asd</p></a></div>
            <div class="container"><a class="pic"><img class="button" type="button" src="src/pic1.jpg" onclick="select_picture(this)"/><p>asd</p></a></div>
            <div class="container"><a class="pic"><img class="button" type="button" src="src/pic2.jpg" onclick="select_picture(this)"/><p>asd</p></a></div>
            <div class="container"><a class="pic"><img class="button" type="button" src="src/pic4.jpg" onclick="select_picture(this)"/><p>asd</p></a></div>
            <div class="container"><a class="pic"><img class="button" type="button" src="src/pic1.jpg" onclick="select_picture(this)"/><p>asd</p></a></div>
            <div class="container"><a class="pic"><img class="button" type="button" src="src/pic2.jpg" onclick="select_picture(this)"/><p>asd</p></a></div>
        </div>
    </header>
    <span class="helper"></span>
    <section id="picture">
        <span class="helper"></span>
        <div id="main_pic_section">
            <span class="helper"></span>
            <img id="main_pic" alt="main_pic"/>
        </div>
    </section>

    <section id="white_space"></section>
    <span class="helper"></span>
    <section id="data">
        <span class="helper"></span>
        <div class="data_container">
            <div class="data">
                <a id="user_id_title">使用者 id: </a><p id="user_id">e.zou.shen59</p>
                <a id="upload_time_title">上傳時間: </a><p id="upload_time"></p>
            </div>
            <div class="detail">
                <p>可兌換抽獎次數: <input type="number"/></p>
                <p>資格不承認原因: 
                    <select name="reasons">
                        <option value="not_at_the_site">不在現場</option>
                        <option value="not_our_container">容器非好盒器</option>
                    </select>
                </p>
                <p id="status">＊此照片尚未經過首次審核<button onclick="submit">保存</button></p>
            </div>
        </div>
        
    </section>
    
</body>
</html>