<!DOCTYPE html>
<html>
    <head>
        <title>個人累積功德數</title>
        <meta content="text/html" http-equiv="Content-Type"; charset="utf8">
        <link href="assets/css/personalReduce.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="top">
            <!-- <img src="images/recycle.jpg" alt="recycle" title="recycle image" /> -->
            <p id="top_text">你減少了，<br/><span id="amount">12 <span id="afterAmount">個免洗容器的垃圾污染</span></span></p>
        </div>

        <div class="middle">
            <!-- <img src="images/wood.jpg" alt="wood" title="wood image" />
            <img src="images/waterdrop.jpg" alt="waterdrop" title="water drop image" />
            <img src="images/wood.jpg" alt="wood" title="wood image" />  -->
            <h5>節省了</h5>
            <hr />
            <p id="wood_text"><span id="wood">木材</span>1.68 公斤</br></p>      
            <hr />     
            <p id="water_text"><span id="water">水</span>28.08 公升<br/></p>
            <hr />
            <p id="carbon_text"><span id="carbon">碳排放</span>900 公克<br/></p>
            
        </div>
        <hr />
        <div class="bottom"> 
            <p id="bottom_text"><br />我們一起減少了<br /><span id="second_line"><span id="total_amount">1027</span> 個免洗容器的污染</span></p>
        </div>
        
    </body>

</html>