<html lang="zh-tw" style="width:100vw">
    
    <head>
        <title>爵士音樂節 抽獎活動說明</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height"/>   
        <meta name="apple-mobile-web-app-capable" content="yes" />   
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" type="image/png" href="assets/favicon.ico"/>
        <link rel="stylesheet" href="assets/css/prize_1.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>

    <body>
        <nav>
            抽獎活動說明
        </nav>

        <div id='change_page_container'>
            <div id='change_page'>
                <input id='left_btn' type='button'/>
                <p id='content'></p>
                <input id='right_btn' type='button'/>
            </div>
        </div>

        <div id=main_list_container>
            <ul id='main_list'>
                <li><div class='prize'><img class='prize_img'/><div class='detail'></div><div class='amount'></div></div></li>
            </ul>
        </div>
    </body>
    
</html>