<!DOCTYPE html>
<html>

<head>
    <title>抽獎嚕！</title>
    <meta content="text/html" http-equiv="Content-Type" ; charset="utf8">
    <link href="/assets/css/lottery_2.css" rel="stylesheet" type="text/css" id="css_style" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/script/lottery_script_2.js"></script>
</head>

<body>
    <div class="content">
        <p id="first_part">您目前有抽獎機會</p>
        <div class="top_icons">
            <img id="icon_1" src="/assets/icon/left_top_deco.png" alt="左上角裝飾" width="130" height="130">
            <img id="icon_2" src="/assets/icon/mid_top_deco.png" alt="中間裝飾" width="130" height="130">
            <img id="icon_3" src="/assets/icon/right_top_deco.png" alt="右上角裝飾" width="130" height="130">
        </div>

        <div id='container'><span id="time"><%- couponList.length %></span><br/><span id="timeText">次</span></div>
        <div class="bottom_icons">
            <img id="icon_4" src="/assets/icon/left_bottom_deco.png" alt="左下角裝飾" width="130" height="130">
            <img id="icon_5" src="/assets/icon/mid_bottom_deco.png" alt="中間裝飾" width="130" height="130">
            <img id="icon_6" src="/assets/icon/right_bottom_deco.png" alt="右下角裝飾" width="130" height="130">
        </div>
        <input type="button" id="start" value="開始抽獎" onclick="changeView(1)">
    </div>
</body>

<script>
    var couponList = <%- JSON.stringify(couponList) %>;
    if ($('#time').text() === '0'){
        $('input#start').css('background-color', 'gray');
    }
</script>

</html>